---
import { getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}


const post = Astro.props;
const { Content } = await post.render();
---

<div class="flex flex-col gap-3 items-center justify-center bg-purple-200">
	<h1>{post.data.title}</h1>
	<h2>{post.data.description}</h2>
	<img src={post.data.heroImage} alt="cover image" >
		<div class="prose prose-lg prose-headings:font-serif text-slate-900 prose-h2:text-green-500 prose-h1:text-slate-500" ><Content />
		</div>
</div>