---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Blogcard from '../components/Blogcard.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const blogs =(await getCollection('blog')).sort((a,b)=>a.data.pubDate.valueOf()-b.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">

	<body class="flex items-center justify-center h-screen flex-col gap-3 w-full max-w-2xl mx-52 bg-red-400">
		<Navbar />
		<div >
  <h1 class="text-6xl text-slate-700 font-medium tracking-tight  "> Hai  I am uthayaa Iam study in sece in covai i am a web developer and UI/UX designer </h1>
{
	blogs.map((blog) => (
		<Blogcard title={blog.data.title} date={blog.data.pubDate} slug={blog.slug} />
			
	))
}

  </div>
	</body>
</html>
